<div ng-include="'{% url mapmaker-partial-header %}'"></div>

<div class="container-fluid">
    <div class="row-fluid">
        <div ng-switch="map != null">
            <div ng-switch-when="true" ng-include="'{% url mapmaker-partial-detail %}'"></div>
            <div ng-switch-when="false" ng-include="'{% url mapmaker-partial-empty %}'"></div>
        </div>
    </div>
</div>