{% extends "base.html" %}
{% load url from future %}  {# Remove when migrated to Django 1.5 #}

{% block content %}
    {% if user.is_authenticated %}
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                {% for map in map_list %}
                    <li class="{% if map == selected_map %}active{% endif %}"><a href="{% url 'moderation-map' map_id=map.id %}">{{ map.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h4>User Submissions Pending Approval <span class="badge">{{ pending_list|length }}</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% if pending_list %}
                <ul class="thumbnails">
                    {% for submission in pending_list %}
                        <li class="span3">
                            <div class="thumbnail">
                                <h5><a href="{% url 'submission-detail' pk=submission.id %}" class="pull-left" style="padding: 1px 5px"><i class="icon icon-list"></i></a>
                                    {{ submission.name }}
                                    <div class="btn-group pull-right action-buttons">
                                        <a href="{% url 'submission-detail' pk=submission.id %}" data-status="accepted" class="btn btn-small btn-success"><i class="icon-ok icon-white"></i></a>
                                        <a href="{% url 'submission-detail' pk=submission.id %}" data-status="rejected" class="btn btn-small btn-danger"><i class="icon-remove icon-white"></i></a>
                                    </div>
                                </h5>
                                {% if submission.photo %}<img src="{{ MEDIA_URL }}{{ submission.photo }}" alt="">{% endif %}
                                {% if submission.description %}<p>{{ submission.description }}</p>{% endif %}
                                {% if not submission.description and not submission.photo %}<p>No photo or description</p>{% endif %}

                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <div class="alert">No submissions pending approval.</div>
                {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="span12">
            <h4>User Submissions Accepted <span class="badge">{{ accepted_list|length }}</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% if accepted_list %}
                <ul class="thumbnails">
                    {% for submission in accepted_list %}
                        <li class="span3">
                            <div class="thumbnail">
                                <h5>{{ submission.name }}
                                    {% if user.is_authenticated %}
                                    <div class="btn-group pull-right action-buttons">
                                        <a href="{% url 'submission-detail' pk=submission.id %}" data-status="pending" class="btn btn-small"><i class="icon-time"></i></a>
                                        <a href="{% url 'submission-detail' pk=submission.id %}" data-status="rejected" class="btn btn-small btn-danger"><i class="icon-remove icon-white"></i></a>
                                    </div>
                                    {% endif %}
                                </h5>
                                {% if submission.photo %}<img src="{{ MEDIA_URL }}{{ submission.photo }}" alt="">{% endif %}
                                {% if submission.description %}<p>{{ submission.description }}</p>{% endif %}
                                {% if not submission.description and not submission.photo %}<p>No photo or description</p>{% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert">No submissions approved.</div>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row">
        <div class="span12">
            <h4>User Submissions Rejected <span class="badge">{{ rejected_list|length }}</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% if rejected_list %}
                <ul class="thumbnails">
                    {% for submission in rejected_list %}
                        <li class="span3">
                            <div class="thumbnail">
                                <h5>{{ submission.name }}
                                    <div class="btn-group pull-right action-buttons">
                                        <a href="{% url 'submission-detail' pk=submission.id %}" data-status="accepted" class="btn btn-small btn-success"><i class="icon-ok icon-white"></i></a>
                                        <a href="{% url 'submission-detail' pk=submission.id %}" data-status="pending" class="btn btn-small"><i class="icon-time"></i></a>
                                    </div>
                                </h5>
                                {% if submission.photo %}<img src="{{ MEDIA_URL }}{{ submission.photo }}" alt="">{% endif %}
                                {% if submission.description %}<p>{{ submission.description }}</p>{% endif %}
                                {% if not submission.description and not submission.photo %}<p>No photo or description</p>{% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert">No submissions rejected.</div>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}


{% block page_js %}
    <script>
        $(function()
        {   $('div.action-buttons > a').click(function()
            {   $.ajax({
                    url: $(this).attr('href'),
                    dataType: 'json',
                    type: 'PUT',
                    data:
                    {   approval_status: $(this).data('status')
                        {% if selected_map %}, map: {{ selected_map.id }}{% endif %}
                    },
                    headers: {"X-CSRFToken": $.cookie('csrftoken')}
                }).done(function ( data )
                    {   location.reload();  // TODO Update UI more gracefully
                    });
                return false;
            });
        });
    </script>
{% endblock %}