{% load static from staticfiles %}
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="mapmaker" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Maker</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/lib/underscore-min.js' %}"></script>
    <script src="{% static 'js/lib/jquery-1.9.1.min.js' %}"></script>  <!-- required for ngUpload -->
    <script src="{% static 'map_maker/lib/angular/angular-patched.js' %}"></script>
    <script src="{% static 'map_maker/lib/angular/angular-resource.js' %}"></script>
    <script src="{% static 'map_maker/lib/angular/angular-cookies-patched.js' %}"></script>
    <script src="{% static 'map_maker/lib/angular-ui/ui-bootstrap-tpls-0.3.0.min.js' %}"></script>
    <script src="{% static 'map_maker/lib/ng-upload/ng-upload.js' %}"></script>
    <!--[if lte IE 8]>
        <script src="{% static 'map_maker/polyfills/json3.min..js' %}"></script>
        <script src="{% static 'js/lib/html5shiv.js' %}"></script>
        <script src="{% static 'js/lib/es5-shim.min.js' %}"></script>

        <script>
            document.createElement('ng-include');
            document.createElement('ng-view');
            document.createElement('tabs');
            document.createElement('pane');

            // Optionally these for CSS
            document.createElement('ng:include');
            document.createElement('ng:view');
        </script>

        <style>
            pane, tabs
            {   display: block;
                border: 1px solid blue;
            }

            #preview-iframe,
            .foeMapping,
            #map
            {   width: 100% !important;
            }
        </style>
    <![endif]-->


    <script src="{% url mapmaker-controller %}"></script>
    <link href="{% static 'map_maker/mapmaker.css' %}" rel="stylesheet">
</head>
<body>
    <noscript>
        <div id="js-disabled-alert">
            <strong>Javascript Disabled.</strong> Map maker requires Javascript.
        </div>
    </noscript>
    <div ng-view></div>
</body>
</html>